
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/IntegralUI-TreeViewCheckBox/integralui.css" rel="stylesheet" />
    <link href="~/Content/IntegralUI-TreeViewCheckBox/integralui.checkbox.css" rel="stylesheet" />
    <link href="~/Content/IntegralUI-TreeViewCheckBox/integralui.treeview.css" rel="stylesheet" />
    <link href="~/Content/IntegralUI-TreeViewCheckBox/theme-flat-blue.css" rel="stylesheet" id="theme" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/IntegralUI-TreeViewCheckBox/theme.selector.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angularJs/angular.js"></script>
    <script src="~/Scripts/IntegralUI-TreeViewCheckBox/angular.integralui.min.js"></script>
    <script src="~/Scripts/IntegralUI-TreeViewCheckBox/angular.integralui.lists.min.js"></script>
    <script src="~/Scripts/IntegralUI-TreeViewCheckBox/angular.integralui.checkbox.min.js"></script>
    <script src="~/Scripts/IntegralUI-TreeViewCheckBox/angular.integralui.treeview.min.js"></script>
    <title>菜单权限设置</title>
    <style type="text/css">
        .iui-treeview-item-content {
            padding: 4px;
        }
        .iui-checkbox-box {
            border: 0;
            width: 16px;
            height: 16px;
        }

        .iui-checkbox-checked {
            background-image: url('../../Content/resources/checkbox/checkbox-checked.png');
        }

        .iui-checkbox-unchecked {
            background-image: url('../../Content/resources/checkbox/checkbox-unchecked.png');
        }

        .iui-checkbox-indeterminate {
            background-image: url('../../Content/resources/checkbox/checkbox-indeterminate.png');
        }
        .directive {
            height: 500px;
            width:260px
        }
    </style>
</head>
<body ng-app="appModule" ng-controller="appCtrl">
    <div class="container">
        <h1>菜单权限</h1>
        <div class="row">
            <div class="col-xs-6">
                <input type="text" class="form-control" name="name" value="" ng-model="searchRoleStr"  placeholder="输入过滤条件"/>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>序号</th>
                        <th>角色</th>
                        <th>菜单权限</th>
                    </tr>
                    <tr ng-repeat="role in Roles|filter:searchRoleStr">
                        <td>{{$index+1}}</td>
                        <td>{{role.Name}}</td>
                        <td><button type="button" class="btn btn-info btn-xs" ng-click="setMenu(role)">菜单设置</button></td>
                        
                    </tr>
                </table>
            </div>
            <div class="col-xs-6">
                <h4>当前角色：{{currentRole.Name}}&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-success btn-sm" ng-click="SaveMenu()">保存设置</button></h4>
                <div>
                    <iui-treeview name="{{treeName}}" class="directive" items="items" item-icon="itemIcon" show-check-boxes="true" checkbox-settings="checkBoxSettings" item-checkstate-changing="itemCheckStateChanging(e)"></iui-treeview>
                </div>
            </div>
           
        </div>
    </div>

    <script type="text/javascript">
        var appModule = angular.module("appModule", ["integralui"]);
        appModule.controller("appCtrl", ["$scope", "$http", "$timeout", "IntegralUITreeViewService", function ($scope, $http, $timeout, $treeService) {
            $scope.treeName = "treeSample";
            $scope.itemIcon = "icons-medium empty-doc";
            $scope.checkStates = ['checked', 'indeterminate', 'unchecked'];
            $scope.checkList = [];
            $scope.indeterminateList = [];
            $scope.items = [];
            initTheme($scope, $treeService, $scope.treeName);
            $scope.checkBoxSettings = {
                autoCheck: true,
                threeState: true
            }
            $scope.itemCheckStateChanging = function (e) {
                if (e.value == 'unchecked')
                    e.item.checkState = 'checked';
            }
            //重新加载数据
            $scope.reloadData = function (RoleCode) {
                if ($scope.items.length != 0) {
                    $treeService.clearItems($scope.treeName);
                }
                $http.post("/MenuManager/GetData", { RoleCode: RoleCode }).success(function (response) {
                    //循环添加数据
                    for (var i = 0; i < response.length; i++) {
                        $scope.items.push(response[i]);
                    }
                    $treeService.updateLayout($scope.treeName);
                });
            }
           
            //点击了设置按钮
            $scope.setMenu = function (role) {
                $scope.currentRole = role;
                $scope.reloadData(role.Id);
            }
            //保存菜单权限
            $scope.SaveMenu = function () {
                $scope.checkList = $treeService.getCheckList($scope.treeName, 'checked');
                var checkListId = [];
                for (var i = 0; i < $scope.checkList.length; i++) {
                    checkListId.push($scope.checkList[i].id)
                }
                $scope.indeterminateList = $treeService.getCheckList($scope.treeName, 'indeterminate');
                var indeterminateListId = [];
                for (var i = 0; i < $scope.indeterminateList.length; i++) {
                    indeterminateListId.push($scope.indeterminateList[i].id);
                }
                $http.post("/MenuManager/SaveMenu", { RoleId: $scope.currentRole.Id, checkListId: checkListId, indeterminateListId: indeterminateListId }).success(function (response) {
                    alert(response);
                });
            }
            //加载所有角色
            $http.post("/MenuManager/GetAllRoles").success(function (response) {
                $scope.Roles = response;
            });
        }]);
    </script>
</body>
</html>
