
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>出入库记录统计</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    <link href="~/Content/bootstrap-datetimepicke/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/isteven-multi-select/isteven-multi-select.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/isteven-multi-select/isteven-multi-select.js"></script>
</head>
<body ng-app="myApp" ng-controller="Main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-11 table-responsive">
                <form ng-submit="RecordSearch()">
                    <table style="text-align:center" class="col-xs-12">
                        <tr><td colspan="8"><h1>出入库记录查询</h1></td></tr>
                        <tr>
                            <td>
                                <label class="control-label">部门：</label>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-options="Departent.DeptCode as Departent.DeptName for Departent in Departents" ng-model="DepartmentId" required><option value=""></option></select>
                            </td>
                            <td>
                                <label class="control-label">仓库：</label>
                            </td>
                            <td>
                                <select class="form-control input-sm" ng-options="Warehouse.Name for Warehouse in Warehouses" ng-model="Warehouse" ng-change="changeWarehouse(Warehouse)"><option value=""></option></select>
                            </td>
                            <td>
                                <label class="control-label">货位：</label>
                            </td>
                            <td>
                                <input type="text" value="" class="form-control input-sm" ng-model="CurrentLocation.Name" data-toggle="modal" data-target="#locationchoose" />
                            </td>
                            <td><label class="control-label">物料：</label></td>
                            <td><input type="text" class="form-control input-sm" value="" data-toggle="modal" data-target="#itemchoose" ng-model="CurrentGoodItem.ItemName"></td>
                        <tr>
                            <td><label class="control-label">出入库类型：</label></td>
                            <td>
                                <div style="width:100%;" isteven-multi-select
                                     input-model="InOutTypes"
                                     output-model="outInOutTypes"
                                     button-label="Name"
                                     item-label="Name"
                                     tick-property="ticked"
                                     helper-elements="all none"
                                     max-height="400px"
                                     max-labels="2">
                                </div>
                            </td>
                            <td><label class="control-label">开始时间</label></td>
                            <td><input type="text" class="form-control input-sm" value="" id="timestart" ng-model="timestart" data-date-format="yyyy-mm-dd hh:ii"></td>
                            <td><label class="control-label">结束时间</label></td>
                            <td><input type="text" class="form-control input-sm" value="" id="timeend" ng-model="timeend" data-date-format="yyyy-mm-dd hh:ii"></td>
                            <td><input type="button" class="btn btn-danger btn-md" value="清除条件" style="width:100px"  ng-click="clearSearch()"/></td>
                            <td><input type="submit" class="btn btn-success btn-md" value="查询" style="width:100px" /></td>
                        </tr>
                    </table>
                </form>

                <table border="1" class="col-xs-12">
                    <tr>
                        <th>物料编码</th>
                        <th>物料名称</th>
                        <th>仓库名称</th>
                        <th>货位编码</th>
                        <th>货位名称</th>
                        <th>批次</th>
                        <th>数量</th>
                        <th>出入标记</th>
                        <th>出入库类型</th>
                    </tr>
                    <tr ng-repeat="record in Records">
                        <td ng-bind="record.ItemCode"></td>
                        <td ng-bind="record.ItemName"></td>
                        <td ng-bind="record.Warehouse"></td>
                        <td ng-bind="record.ItemLocationId"></td>
                        <td ng-bind="record.ItemLocation"></td>
                        <td ng-bind="record.ItemBatch"></td>
                        <td ng-bind="record.Count"></td>
                        <td ng-bind="record.InOrOut"></td>
                        <td ng-bind="record.InOutTypeName"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    @*-----------------------------------货位选择模态框------------------------------------------------*@
    <div class="modal fade" id="locationchoose">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">请选择货位</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstrlocation" />
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <th>货位编码</th>
                            <th>货位名称</th>
                        </tr>
                        <tr ng-repeat="location in CurrentLocations | filter:searchstrlocation " ng-dblclick="selectlocation(location)">
                            <td>{{location.Id}}</td>
                            <td>{{location.Name}}</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @*-----------------------------------货位选择模态框end------------------------------------------------*@

    @*-------------------------------------品项选择模态框-----------------------------------------*@
    <div class="modal fade" id="itemchoose">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">请选择品项</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control input-sm" placeholder="请输入查询条件" value="" ng-model="searchstr" />
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <th>编号</th>
                            <th>物料编码</th>
                            <th>物料分类</th>
                            <th>产品名称</th>
                            <th>包装规格</th>
                            <th>单位</th>
                            <th>单位重量(KG)</th>
                        </tr>
                        <tr ng-repeat="goodItem in GoodItems | filter:searchstr " ng-dblclick="selectItem(goodItem)">
                            <td>{{$index+1}}</td>
                            <td>{{goodItem.ItemCode}}</td>
                            <td>{{goodItem.ItemLine}}</td>
                            <td>{{goodItem.ItemName}}</td>
                            <td>{{goodItem.ItemSpecifications}}</td>
                            <td>{{goodItem.ItemUnit}}</td>
                            <td>{{goodItem.UnitWeight}}</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    @*-------------------------------------品项选择模态框end-----------------------------------------*@

    <script>
        //初始化时间选择器
        $('#timestart').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        $('#timeend').datetimepicker({
            language: 'zh-CN',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1
        });
        //主程序
        var myApp = angular.module('myApp', ["isteven-multi-select"]);
        //数据控制器
        myApp.controller('Main', function ($scope, $http) {
            $scope.outInOutTypes = [];
            $http.post("/BaseInfo/GetBaseInfo").success(function (response) {
                $scope.Warehouses = response.Warehouse;
                $scope.Departents = response.Departent;
                $scope.GoodItems = response.GoodItem;
                $scope.InOutTypes = response.InOutType;
            });
            //选择了仓库
            $scope.changeWarehouse = function (Warehouse) {
                $scope.CurrentWarehouseId = Warehouse.Id;//仓库ID
                $scope.CurrentLocations = Warehouse.Location;
            }
            //选择了货位
            $scope.selectlocation = function (Location) {
                $scope.CurrentLocation = Location;//当前货位
                $('#locationchoose').modal('hide');
            }
            //选择了品项  传进goodItem对象
            $scope.selectItem = function (goodItem) {
                $scope.searchstr = '';//清空搜索框
                $scope.CurrentGoodItem = goodItem;//当前物料
                //模态框关闭
                $('#itemchoose').modal('hide');
            }
            //复位筛选条件
            $scope.clearSearch = function () {
                $scope.CurrentWarehouseId = null;
                $scope.CurrentLocations = null;
                $scope.CurrentLocation = null;
                $scope.CurrentGoodItem = null;
                $scope.Warehouse = null;
                $scope.timestart = null;
                $scope.timeend = null;
            };
            //查找记录
            $scope.RecordSearch = function () {
                var inOutTypeIds = [];
                for (var i = 0; i <$scope.outInOutTypes.length; i++) {
                    inOutTypeIds.push($scope.outInOutTypes[i].Id);
                }
                $http.post('/InOutRecord/RecordSearch', { DepartmentId: $scope.DepartmentId, WarehouseId: $scope.CurrentWarehouseId, ItemLocationId: $scope.CurrentLocation == undefined ? null : $scope.CurrentLocation.Id, ItemCode: $scope.CurrentGoodItem == undefined ? null : $scope.CurrentGoodItem.ItemCode, InOutTypeId: inOutTypeIds, timestart: $scope.timestart, timeend: $scope.timeend }).success(function (response) {
                    $scope.Records = response;
                });
            }


        });
    </script>
</body>
</html>
