
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>出入库记录统计</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="Main">
        <div class="row">
            <div class="col-xs-12">
                时间<input type="datetime" name="name" value=" " />
            </div>
        </div>
    </div>
    <script>
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('Main', function ($scope, $http) {

        });
    </script>
</body>
</html>
