
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
    <title>入库单打印</title>
    <style type="text/css" media="print">
        .print {
            display: none;
        }
    </style>
    <style type="text/css">
        .titletd {
            line-height: 30px;
            font-weight: 500;
            width: 70px;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="recordController">
        <table border="1" style="width:100%;">
            <tr>
                <td colspan="8" style="text-align:center">
                    <h2>入库单</h2>
                </td>
            </tr>
            <tr>
                <td class="titletd">转仓单号:</td>
                <td><span ng-bind="info.LBBillCode"></span></td>
                <td class="titletd">单据日期:</td>
                <td><span ng-bind="info.LBBillDate"></span></td>
                <td class="titletd">发运仓:</td>
                <td><span ng-bind="info.LBFrom"></span></td>
                <td class="titletd">移动类型:</td>
                <td><span ng-bind="info.LBMoveType"></span></td>
            </tr>
            <tr>
                <td class="titletd">备注:</td>
                <td colspan="7"><span ng-bind="info.LBRemark"></span></td>

            </tr>
            <tr>
                <td class="titletd">入库单号:</td>
                <td><span ng-bind="info.BillCode"></span></td>
                <td class="titletd">入库日期:</td>
                <td><span ng-bind="info.CreateDate"></span></td>
                <td class="titletd">仓库:</td>
                <td><span ng-bind="info.Warehouse"></span></td>
                <td class="titletd">入库类别:</td>
                <td><span ng-bind="info.InputType"></span></td>
            </tr>
            <tr>
                <td class="titletd">仓管员:</td>
                <td><span ng-bind="info.ChargePerson"></span></td>
                <td class="titletd">制单人:</td>
                <td><span ng-bind="info.MakePerson"></span></td>
                <td class="titletd">审核人:</td>
                <td><span ng-bind="info.ExaminePerson"></span></td>
                <td class="titletd">审核日期:</td>
                <td><span ng-bind="info.ExamineDate"></span></td>
            </tr>
            <tr>
                <td class="titletd">业务模式:</td>
                <td><span ng-bind="info.BusinessType"></span></td>
                <td class="titletd">装卸类型:</td>
                <td><span ng-bind="info.LoadGoodsType"></span></td>
                <td class="titletd">备注:</td>
                <td colspan="5"><span ng-bind="info.Remark"></span></td>
            </tr>
        </table>
        <div>
            <table style="width:100%" border="1">
                <tr>
                    <th>编号</th>
                    <th>物料编码</th>
                    <th>产品线</th>
                    <th>产品名称</th>
                    <th>包装规格</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>重量</th>
                    <th>批次</th>
                    <th>货位</th>
                </tr>
                <tr ng-repeat="record in info.Record">
                    <td>{{$index+1}}</td>
                    <td>{{record.ItemCode}}</td>
                    <td>{{record.ItemLine}}</td>
                    <td>{{record.ItemName}}</td>
                    <td>{{record.ItemSpecifications}}</td>
                    <td>{{record.ItemUnit}}</td>
                    <td>{{record.Count}}</td>
                    <td>{{record.Weight}}</td>
                    <td>{{record.ItemBatch}}</td>
                    <td>{{record.ItemLocation}}</td>
            </table>
        </div>
    </div>
    <br /><br />
    <div style="text-align:center"><button class="btn btn-info print" onclick="window.print()">打印</button></div>

    <script>
        //json日期格式转换为正常格式
        function jsonDateFormat(jsonDate) {
            try {
                var date = new Date(parseInt(jsonDate.replace("/Date(", "").replace(")/", ""), 10));
                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();
                var milliseconds = date.getMilliseconds();
                return date.getFullYear() + "-" + month + "-" + day;
            } catch (ex) {
                return "";
            }
        }
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('recordController', function ($scope, $http) {
            //请求表单数据
            $http.post("/TransferBill/GetData", {}, { params: { "TransferBillId": "@ViewBag.TransferBillId" } }).success(function (response) {
                //修改时间格式
                response.LBBillDate = jsonDateFormat(response.LBBillDate);
                response.CreateDate = jsonDateFormat(response.CreateDate);
                response.ExamineDate = jsonDateFormat(response.ExamineDate);
                //绑定数据源
                $scope.info = response;
            });
        })
    </script>
</body>
</html>

