
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Test/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Test/isteven-multi-select.css" rel="stylesheet" />
    <title>Test1</title>
    <script src="~/Test/jquery.min.js"></script>
    <script src="~/Test/bootstrap.min.js"></script>
    <script src="~/Scripts/angularJs/angular.js"></script>
    <script src="~/Test/isteven-multi-select.js"></script>
   
   
</head>
<body ng-app="myApp" ng-controller="Main">
    <div isteven-multi-select
         input-model="modernBrowsers"
         output-model="outputBrowsers"
         button-label="Name"
         item-label="maker"
         tick-property="ticked" 
         translation="localLang"
         helper-elements="">
    </div>
    <br />
    <br />
    <br />
    <br />
    <a id="btneclick" href="#">点击</a>
    <script type="text/javascript">
        $("#btneclick").click(function () {
            $("")
        });
        var myApp = angular.module('myApp', ['isteven-multi-select']);
        myApp.controller('Main', function ($scope) {
            $scope.modernBrowsers = [
          {
              Name: '1',
              maker: '张-三'

          },
          {
            
              Name: '2',
              maker: 'Microsoft'

          },
          {
              
              Name: '3',
              maker: 'Mozilla Foundation'

          },
          {
              Name: '4',
              maker: 'Apple'

          },
          {
              Name: '5',
              maker: 'Google'
          }
            ];
            $scope.outputBrowsers = [];
            $scope.localLang = {
            nothingSelected : "------请选择-------"         //default-label is deprecated and replaced with this.
        }
        });
    </script>
</body>
</html>
