
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Test/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Test/isteven-multi-select.css" rel="stylesheet" />
    <title>Test1</title>
    <script src="~/Test/jquery.min.js"></script>
    <script src="~/Test/bootstrap.min.js"></script>
    <script src="~/Scripts/angularJs/angular.js"></script>
    <script src="~/Test/isteven-multi-select.js"></script>
   
   
</head>
<body ng-app="myApp" ng-controller="Main">
    <div isteven-multi-select
         input-model="modernBrowsers"
         output-model="outputBrowsers"
         button-label="icon name"
         item-label="icon name maker"
         tick-property="ticked" 
         helper-elements="">
    </div>

    <script type="text/javascript">
        var myApp = angular.module('myApp', ['isteven-multi-select']);
        myApp.controller('Main', function ($scope) {
            $scope.modernBrowsers = [
          {
              name: 'Opera',
              maker: 'Opera Software',
              ticked: false
          },
          {
            
              name: 'Internet Explorer',
              maker: 'Microsoft',
              ticked: false
          },
          {
              
              name: 'Firefox',
              maker: 'Mozilla Foundation',
              ticked: false
          },
          {
              name: 'Safari',
              maker: 'Apple',
              ticked: false
          },
          {
              name: 'Chrome',
              maker: 'Google',
              ticked: false
          }
            ];
            $scope.outputBrowsers = [];
        });
    </script>
</body>
</html>
