
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>在库查询</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/angularJs")
</head>
<body>
    <div class="container-fluid" ng-app="myApp" ng-controller="recordController">
        <div class="row" style="width:100%">
            <div class="col-xs-12 table-responsive">
                <table class="table">
                    <tr>
                        <td colspan="7" style="text-align:center">
                            <h2>在库查询</h2>
                        </td>
                    </tr>
                    <tr>
                        <td>仓库：</td>
                        <td>
                            <select class="form-control" ng-options=" Warehouse.Id as Warehouse.Name for Warehouse in Warehouses" ng-model="WarehouseId"></select>
                        </td>
                        <td><input type="button" name="name" value="查询" ng-click="search()" class="btn btn-success" /></td>
                        <td>在结果中筛选：</td>
                        <td><input type="text" class="form-control" name="name" value="" placeholder="在结果中筛选" ng-model="ressearchstr" /></td>
                        <td>排序：</td>
                        <td>
                            <input type="radio" id="sele1" name="name" value="ItemCode" ng-model="sort" /><label for="sele1">按品项</label>
                            <input type="radio" id="sele2" name="name" value="ItemBatch" ng-model="sort" /><label for="sele2">按批次</label>
                            <input type="radio" id="sele3" name="name" value="ItemLocation" ng-model="sort" /><label for="sele3">按货位</label>
                        </td>
                    </tr>
                </table>
                <hr style="border:1px solid #9b9595;margin-bottom:3px;margin-top:3px;" />
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>编号</th>
                        <th>物料编码</th>
                        <th>产品线</th>
                        <th>产品名称</th>
                        <th>包装规格</th>
                        <th>单位</th>
                        <th>数量</th>
                        <th>批次</th>
                        <th>货位</th>
                    </tr>
                    <tr ng-repeat="record in Records| filter:ressearchstr|orderBy:sort:false">
                        <td>{{$index+1}}</td>  @*编号*@
                        <td>{{record.ItemCode}}</td>
                        <td>{{record.ItemLine}}</td>
                        <td>{{record.ItemName}}</td>
                        <td>{{record.ItemSpecifications}}</td>
                        <td>{{record.ItemUnit}}</td>
                        <td>{{record.Count}}</td>
                        <td>{{record.ItemBatch}}</td>
                        <td>{{record.ItemLocation}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        //主程序
        var myApp = angular.module('myApp', []);
        //数据控制器
        myApp.controller('recordController', function ($scope, $http) {
            $http.post('/Warehouse/GetData').success(function (response) {
                $scope.Warehouses = response;//仓库信息
            });
            $scope.search = function () {
                if ($scope.WarehouseId == undefined) {
                    alert('请选择仓库！'); return;
                }
                $http.post('/InWarehouse/GetDataByWarehouseId', { WarehouseId: $scope.WarehouseId }).success(function (response) {
                    $scope.Records = response;
                });
            }
        })
    </script>
</body>
</html>
